# Property Price Register - Machine Learning analysis

## Section 0 - Initial Preparation

### Section 0.1 - Import required modules

In [1]:
import pandas as pd

## Section 1 - Data Understanding and Preparation

### Section 1.x - Introduction

Our objective is to use a sample of the Residential Property Price Register (RPPR) to make inference about the price of houses in the Republic of Ireland. We will explore the dataset, transform the dataset appropriately, train various machine learning models using the dataset, validate these models, and perform tests for generalisability (how well does our final model predict house prices).

Both the input and target features come from the RPPR, which is a dataset containing details of the sale of all residential properties purchased in Ireland since the 1st January 2010, as declared to the Revenue Commissioners for stamp duty purposes.

### Section 1.x - Read in the cleaned dataset

In [2]:
df = pd.read_csv("cleaned_data.csv")

In [3]:
df.head()

,Postal_Code,County,Price_€_VAT_incl,Description_of_Property,Property_Size_Description,Month_of_Sale,Quarter_of_Sale
0,unknown,Roscommon,180000.0,Second-Hand Dwelling house /Apartment,unknown,May,2
1,unknown,Kilkenny,73500.0,Second-Hand Dwelling house /Apartment,unknown,September,3
2,dublin 15,Dublin,280000.0,Second-Hand Dwelling house /Apartment,unknown,September,3
3,unknown,Louth,205000.0,Second-Hand Dwelling house /Apartment,unknown,August,3
4,dublin 9,Dublin,282500.0,Second-Hand Dwelling house /Apartment,unknown,August,3

### Section 1.x: Change the data types

In [4]:
df.dtypes

Postal_Code                   object
County                        object
Price_€_VAT_incl             float64
Description_of_Property       object
Property_Size_Description     object
Month_of_Sale                 object
Quarter_of_Sale                int64
dtype: object

In [5]:
df["Price_€_VAT_incl"] = df["Price_€_VAT_incl"].astype(float)

In [6]:
df["Quarter_of_Sale"] = df["Quarter_of_Sale"].astype("category")

In [7]:
# Select all columns of type 'object'
object_columns = df.select_dtypes(['object']).columns

# Convert selected columns to type 'category'
for column in object_columns:
    df[column] = df[column].astype('category')
df.dtypes

Postal_Code                  category
County                       category
Price_€_VAT_incl              float64
Description_of_Property      category
Property_Size_Description    category
Month_of_Sale                category
Quarter_of_Sale              category
dtype: object

### Section 1.x - Shuffle dataset rows and split dataset into separate training and test datasets

The training dataset will be used for model construction and validation. The test dataset will be used at the very end of our analysis to test the generalisability of our final model.